<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Dashboard</title>
</head>
<body>
  <h1>Dashboard</h1>
  <p>Welcome back, <strong><%= user.username %></strong>!</p>

  <a href="/folders">Folders</a>
  <br>
  <br>

  <a href="/">Home</a> |
  <a href="/logout">Logout</a>
</body>
</html>
